<!DOCTYPE html>
%html
  %head
    %titlePersonalityQuiz
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  = render 'layouts/header'
  // -if alert
  //   -alert.each do |a|
  //     .alert.alert-danger= a
  -if notice
    %p.alert.alert-info= notice
  -if alert
    %p.alert.alert-danger= alert.kind_of?(Array) ? alert[0] : alert
  
  %body
    = yield

  =render 'layouts/footer'